<mat-toolbar color="primary">
  <span routerLink="/" class="logo">Sistema de Avaliação</span>
  
  <span class="spacer"></span>
  
  <div class="nav-buttons">
    <button mat-button routerLink="/">Home</button>
    
    <ng-container *ngIf="!isLoggedIn">
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/cadastro">Cadastro</button>
    </ng-container>
    
    <ng-container *ngIf="isLoggedIn">
      <button mat-button routerLink="/minhas-avaliacoes">Minhas Avaliações</button>
      <button mat-button routerLink="/favoritos">Favoritos</button>
      <button mat-button (click)="logout()">Logout</button>
    </ng-container>
  </div>
</mat-toolbar>
